# Binaries
philo
philo_bonus

# Object files
*.o
*.a
obj/

# Debug / profiling
*.out
*.gdb
*.dSYM

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
tmp/

# Doc
Test.md
tt.c
